<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="principal.css" />
    <title>Campus Verde</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/"><img src="./imagens/home.png" alt="">Página Inicial</a></li>
            <li><a href="/plantas"><img src="./imagens/leaf.png" alt="">Plantas do Campus</a></li>
        </ul>
    </nav>
    <div class="cabecario">
        <h2 class="projeto">PROJETO</h2>
        <h1>Campus Verde</h1>
        <h2 class="ifrn">IFRN</h2>
        <a href="/plantas"> Conheça nossas plantas</a>
    </div>
    <div class="sobre">
        <h2>Sobre o projeto</h2>
        <div> <p>O projeto ( nome do projeto) possui a finalidade de catalogar as plantas do IFRN campus parnamirim, mostrando suas especificações como espécie, nome, cuidados, características e imagem de identificação.</p>
            
            <p> A produção do inventário botânico foi produzido em consonância ao Projeto Campus Verde-Gestão Ambiental a fim de transmitir a ideia principal do projeto em trazer à aproximação dos indivíduos para um contexto social ambiental, contribuindo para a formação da preservação da flora do Campus Parnamirim</p>
        </div>


    </div>

    <div class="colaboradores">
        <h2>Colaboradores</h2>
        <div class="Info">
            <div>
                <h3>JURANDY SOARES</h3>
               <div> <img src="imagens/testeimg.jpg"> </img></div>
                <p>Docente do IFRN Campus parnamirim e Orientador do projeto.</p>
            </div>
            <div>
                <h3>JOELMA MARQUES</h3>
                <div> <img src="imagens/testeimg.jpg"> </img></div>
                <p>Desenvolvedora do site do Inventário da flora do campus parnamirim e aluna de informática do turno vespertino.</p>
            </div>
            <div>
                <h3>MARIANA AMINA</h3>
                <div><img src="imagens/testeimg.jpg"> </img></div>
                <p>>Desenvolvedora do site do Inventário da flora do campus parnamirim e aluna de informática do turno vespertino.</p>
            </div>
            <div>
                <h3>ALEXIA RAFAELLY</h3>
                <div><img src="imagens/testeimg.jpg"> </img></div>
                <p>Desenvolvedora do site do Inventário da flora do campus parnamirim e aluna de informática do turno vespertino.</p>
            </div>
        </div>
    </div>

</body>
</html>

